[Unit]
Description=BeagleStache
After=gdm.service
Requires=gdm.service

[Service]
Type=simple
WorkingDirectory=/home/root/stache
ExecStart=/home/root/stache/runstache
Restart=never

[Install]
WantedBy=graphical.target
